@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2'),
      url('../fonts/poppins-v20-latin-300.woff') format('woff');
  }
  
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'),
      url('../fonts/poppins-v20-latin-regular.woff') format('woff');
  }
  
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../fonts/poppins-v20-latin-600.woff2') format('woff2'),
      url('../fonts/poppins-v20-latin-600.woff') format('woff');
  }
  
  @font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 900;
    src: url('../fonts/poppins-v20-latin-900.woff2') format('woff2'),
      url('../fonts/poppins-v20-latin-900.woff') format('woff');
  }

:root {
    --color-primary-dark: #31261a;
    --color-primary-light: #faf4ea;
    --color-secondary-dark: #a28268;
    --color-brand-dark: #465929;
    --color-brand-normal: #819b57;
    --color-brand-light: #cfcfbc;
  }
  
  body {
    margin: 0;
    color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    background-color: yellow;
       }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  a {
    display: inline-block;
  }
  
  address {
    font-style: normal;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  /* styles header */
  .link {
    color: var(--color-primary-light);
    text-decoration: none;
    transition: color 0.3s;
  
    &:hover {
      color: var(--color-brand-normal);
    }
  }

  .button {
    display: block;
    padding: 10px 24px;
    color: var(--color-primary-light);
    font-weight: 600;
    background-color: var(--color-brand-normal);
    border: 2px solid var(--color-brand-normal);
    border-radius: 8px;
    cursor: pointer;
  
    &:hover {
      color: var(--color-brand-dark);
      background-color: var(--color-primary-light);
    }
    }